@import url('https://fonts.googleapis.com/css?family=Jura&display=swap');


body {
    background-color: #97999B;
    font-family: "Jura", sans-serif;
    text-align: center;
    background-image: radial-gradient(#bfc0c1 15%, transparent 0);
    background-size: 40px 40px;

   
}

.todolist {
    margin: 50px auto;
    padding: 16px;
    min-height: 580px;
    max-width: 300px;
    background-color: #f1f5f8;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1 {
    width: 60%;
    margin-top: 30px;
    background-color:#ffdb58;
    padding: 0.2rem 1.2rem;
    color: #494a4b;
}

.todolist form {
    margin-top: 40px;
}

.todolist input {  
    border: 0;
    border-bottom: 3px dashed#ffdb58;
    background-color: transparent;
    font-family: "Jura", sans-serif;
    font-size: 1.3rem;
    padding: 10px 15px;
    width: 70%;
    color: #494a4b;
}

.todolist button {
    margin-top: 30px;
    border: 3px solid hsl(198, 1%, 29%);
    padding: 10px 15px;
    font-family: "Jura", sans-serif;
    font-size: 0.9rem;
}

.items {
    margin: 50px 0 0 30px;
}

.items ul li {
    text-align: left;   
    margin: 20px 10px;
    font-size: 1.4rem;
    font-weight: 300;
    color: #494a4b;
}



 
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #494a4b;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }