.item {
    display: flex;
    background-color: #f1f5f8;
    margin-top: 10px;
    line-break: anywhere;
}

.item .actions-group {
    margin-left: auto;
    display: flex;

}
.item .actions-group img {
    margin-left: 10px;
}